@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: 'Flegrei';
  src: url('../fonts/Flegrei.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-flegrei { font-family: 'Flegrei', sans-serif; }
