@import url('variables.css');

.about-image {
  max-height: none;
  object-fit: contain;
}

.about-text-block {
  margin-left: 27%;
  width: 73%;
}

.coming-soon {
  display: block;
  text-align: center;
  font-weight: 700;
  color: var(--color-azul);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.social-links a {
  color: var(--color-azul);
}

.social-links a:hover {
  color: var(--color-magenta);
}
